.body {
  margin: 0;
  background-color: var(--fossil-color-background-page);
  color: var(--fossil-color-text-default);
  font-family: var(--fossil-text-body-font-family);
  font-size: var(--fossil-text-body-font-size);
  font-weight: var(--fossil-text-body-font-weight);
  letter-spacing: var(--fossil-text-body-letter-spacing);
  line-height: var(--fossil-text-body-line-height);
}
